@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Sen:regular,500,600,700,800);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dark-bg {
    background-color: #000000;
  }

  .light-bg {
    background-color: #f9fafb;
  }

  .dark-text {
    color: white;
  }

  .light-text {
    color: black;
  }
}
.transform-3d {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hover\:transform-3d:hover {
    transform: perspective(1000px) rotateX(5deg) rotateY(5deg) scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

@keyframes gradient-shift {
        0%,
        100% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
      }

      .animated-gradient {
        background-size: 200% 200%;
        animation: gradient-shift 5s ease infinite;
      }
